* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: auto;
}

body {
    background-color: #121212;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #1f1f1f;
    padding: 0.3em 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 5px;
}

.bar {
    width: 25px;
    height: 1px;
    background-color: #ffffff;
    margin: 4px 0;
    transition: 0.4s;
}

.container {
    width: 600px;
    text-align: justify;
}

.container p {
    line-height: 2;
    display: inline-block;
}

nav ul {
    list-style: none;
    padding: 8px 12px;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    flex-grow: 1;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
}

nav ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: cyan;
    display: block;
    margin: auto;
    transition: 0.5s;
}

nav ul li:hover::after{
    width: 100%;
}

.page {
    height: 100vh;
    box-sizing: border-box;
    min-height: fit-content;
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    transform: translateZ(0);
    height: calc(var(--vh, 1vh) * 100);
}

main h1 {
    font-size: 90px;
    font-weight: 900;
}

main h2 {
    font-size: 40px;
}

.services-list {
    padding-left: 25px;
}

#counter {
    font-size: 14px;
}

.site-footer {
    background-color: #1f1f1f; /* Dark background color */
    color: #d3d3d3; /* Light gray text color */
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display:inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    width: 80%;
}

.footer-container div {
    flex: 1;
    min-width: 200px;
}

.footer-container h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

.footer-container p, .footer-container ul {
    font-size: 12px;
    line-height: 1.5;
    list-style-type: none;
    padding: 0;
}

.footer-container li {
    margin-bottom: 10px;
}

.footer-container a {
    color: #1E90FF; /* Soft blue for links */
    text-decoration: none;
}

.footer-container a:hover {
    text-decoration: underline;
}

.back-to-top a {
    color: #1E90FF; /* Soft blue for "Back to Top" link */
    text-decoration: none;
    font-size: 1rem;
}

.back-to-top a:hover {
    text-decoration: underline;
}

.back-to-top a:hover {
    text-decoration: underline;
}

.contact-icons {
    margin-top: 1em;
}

.contact-icons a {
    color: #ffffff;
    margin: 0 1em;
    font-size: 2em;
    text-decoration: none;
}

.contact-icons a:hover {
    color: #bbbbbb;
}

/* Media Query for mobile screens */
@media (max-width: 600px) {
    .hamburger {
        display: flex;
        align-items: center;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: #1f1f1f;
        position: absolute;
        top: 40px;
        right: 0;
    }
    .nav-links.active {
        display: flex;
    }
    .nav-links.hidden {
        display: none;
    }
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        margin: 1em 0;
    }
    nav ul li:hover::after{
        width: 10%;
    }
    main h1 {
        font-size: 60px;
    }
    main h2 {
        font-size: 30px;
    }
    main div p{
        font-size: 12px;
    }
    .container {
        width: 300px;
    }
    .container ul {
        font-size: 1.2em;
    }
    .footer-container {
        flex-direction: column; /* Stack the footer sections vertically */
        text-align: center;
    }
    .footer-container div {
        margin: 20px 0;
    }
    .footer-container h2 {
        font-size: 1.2em;
    }
    .footer-container p, .footer-container ul {
        font-size: 12px;
    }
    .back-to-top a {
        font-size: 12px;
    }
    .page {
        height: calc(var(--vh, 1vh) * 100);
    }
}

/* Media Query for larger screens */
@media (min-width: 601px) {
    html {
        scroll-behavior: smooth;
    }
    .hamburger {
        display: none;
    }
    .nav-links {
        display: flex;
    }
    main h1 {
        font-size: 60px;
    }
}